<h1>Editing Dish</h1>

<%= render 'form' %>
<button><%= link_to 'Destroy', @dish, method: :delete, data: { confirm: 'Are you sure?' } %></button>
<p></p>
<%= link_to 'Show', @dish %> |
<%= link_to 'Back', dishes_path %>
