<!DOCTYPE html>
<html>
  <head>
    <title>Foodland</title>
  </head>
    <body>
      <p id="notice"><%= notice %></p>
      <div class="navbar">
        <h1>Foodland</h1>
        <h2>Eat the most delicious food at Foodland!</h2>
      </div>
<div class="section">
  <h3>Editing Dish</h3>

  <%= render 'form' %>
  <button><%= link_to 'Destroy', @dish, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  <p></p>
  <%= link_to 'Back', dishes_path %>
</div>
